DATABASE_URL="postgresql://postgres.fceond?????????:?????????@aws-1-us-?????????-?????????.pooler.supabase.com:?????????/postgres"
BETTER_AUTH_SECRET=MYtcOnjaZUd....
BETTER_AUTH_URL=http://localhost:3000 # Base URL of your app

SUPABASE_URL=https://fceond?????????.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...

STRIPE_SECRET_KEY=